---
import { Icon } from "astro-icon/components";
import { Markdown } from "@astropub/md";
import type { Edition } from "../content.config";
import { getCollection } from "astro:content";
import Frame from "./frame.astro";
import Footer from "./footer.astro";

const editions = await getCollection("editions");

interface Props {
  edition: Edition;
}

const edition = Astro.props.edition;
const nextEdition = editions.find((e) => e.data.year === edition.year + 1);
const prevEdition = editions.find((e) => e.data.year === edition.year - 1);
---

<div
  class="grid grid-cols-1 lg:h-screen lg:grid-cols-2 lg:grid-rows-[minmax(auto,1fr)]"
>
  <main class="contents">
    <h1 class="sr-only">Geschwärzte Kunst</h1>

    <div class="sticky top-0 row-span-2 flex flex-col md:justify-center">
      <div class="relative flex items-center justify-center p-4">
        <Frame edition={edition} />
      </div>

      <nav class="flex justify-center py-4" transition:animate="fade">
        <ul
          class="inline-flex divide-x divide-stone-500 overflow-clip rounded-full"
        >
          {
            prevEdition ? (
              <a
                href={`/edition${prevEdition.data.year}/`}
                class="flex items-center justify-center bg-stone-600 px-4 py-2 text-white shadow-lg hover:bg-stone-500 motion-safe:transition-colors"
                data-astro-prefetch
              >
                <Icon
                  name="tabler:arrow-narrow-left"
                  class="me-1 inline-block"
                  aria-hidden="true"
                />
                {prevEdition.data.year}
              </a>
            ) : null
          }

          <a
            href="/"
            class="flex items-center justify-center bg-stone-600 px-4 py-2 text-white hover:bg-stone-500 motion-safe:transition-colors"
            title="Übersicht aller Kunsteditionen"
            data-astro-prefetch
          >
            <Icon
              name="tabler:layout-grid"
              class="inline-block md:me-2"
              aria-hidden="true"
            />
            <span class="sr-only">Übersicht aller Kunsteditionen</span>
            <span class="max-md:hidden" aria-hidden="true">Übersicht</span>
          </a>

          <button
            class="flex cursor-pointer items-center justify-center bg-stone-600 px-4 py-2 text-white hover:bg-stone-500 motion-safe:transition-colors"
            id="info-button"
            aria-hidden="true"
            title="Bildbeschreibung anzeigen"
          >
            <Icon
              name="tabler:info-circle"
              class="inline-block md:me-2"
              aria-hidden="true"
            />
            <span class="max-md:hidden">Bildbeschreibung</span>
          </button>

          {
            nextEdition ? (
              <a
                href={`/edition${nextEdition.data.year}/`}
                class="ms-auto flex items-center justify-center bg-stone-600 px-4 py-2 text-white shadow-lg hover:bg-stone-500 motion-safe:transition-colors"
                data-astro-prefetch
              >
                {nextEdition.data.year}
                <Icon
                  name="tabler:arrow-narrow-right"
                  class="ms-1 inline-block"
                  aria-hidden="true"
                />
              </a>
            ) : null
          }
        </ul>
      </nav>
    </div>

    <div
      class="z-10 flex flex-1 flex-col border-t-purple-300 bg-black max-lg:border-t-4 max-md:mt-auto"
    >
      <div
        class="flex w-full flex-1 flex-col justify-center px-8 py-8 lg:px-16"
        transition:animate="fade"
      >
        <div>
          <p class="text-stone-300">{edition.year}</p>
          <h2 class="mt-4 text-4xl font-extrabold text-white md:text-6xl">
            {edition.title}
          </h2>
          <div class="description my-6 md:my-12">
            <Markdown of={edition.description} />
          </div>
          <p class="mb-8 text-sm text-stone-300">
            Giclée-Druck, mattes Papier, 30&times;40cm, ungerahmt. Limitiert auf
            50 Exemplare.
          </p>
          {
            edition.available ? (
              <a
                href={`https://pretix.eu/fragdenstaat/shop/?category=221011#item-${edition.pretixId}-legend`}
                target="_blank"
                id="buy-button"
                data-year={edition.year}
                class="inline-flex w-auto cursor-pointer items-center bg-white px-6 py-3 text-lg text-black transition-colors hover:bg-purple-50"
              >
                Kunstedition bestellen
                <Icon
                  name="tabler:arrow-narrow-right"
                  class="ms-1 inline-block"
                  aria-hidden="true"
                />
              </a>
            ) : (
              <button
                class="inline-flex w-auto items-center bg-gray-300 px-6 py-3 text-lg text-black"
                disabled
              >
                Nicht mehr erhältlich
                <Icon
                  name="tabler:mood-wrrr"
                  class="ms-1 inline-block"
                  aria-hidden="true"
                />
              </button>
            )
          }
        </div>
      </div>
    </div>
  </main>

  <Footer />
</div>

<style>
  @reference "../styles/global.css";

  .description {
    @apply max-w-[80ch] text-lg text-stone-100 md:text-xl;
  }

  .description :global(p) {
    @apply mb-4;
  }

  .description :global(a) {
    @apply text-purple-300 underline underline-offset-3 hover:no-underline;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const infoBtn = document.querySelector<HTMLButtonElement>("#info-button");
    infoBtn?.addEventListener("click", () => {
      const overlay = document.querySelector<HTMLDivElement>("#info-overlay")!;

      overlay.classList.toggle("opacity-0");
      overlay.classList.toggle("opacity-100");
      overlay.classList.toggle("pointer-events-auto");
      overlay.classList.toggle("pointer-events-none");

      infoBtn.classList.toggle("bg-stone-500");
      infoBtn.classList.toggle("bg-stone-600");
    });

    const buyBtn = document.querySelector<HTMLAnchorElement>("#buy-button");
    buyBtn?.addEventListener("click", () => {
      window._paq?.push([
        "trackEvent",
        "events",
        "order",
        buyBtn.dataset.year!,
      ]);
    });
  });
</script>
